body {
    background-color: hsl(212, 45%, 89%);
}

.ticket {
    position: relative;
    margin: 6em auto;
    width: 15em;
    height: 25em;
    text-align: center;
    padding: 0.5em;
    background-color: rgb(255, 251, 251);   
    border-radius: 8px ;
    box-shadow: 0 0 0.4em rgb(14, 13, 13);
}

.content img {
    width: 15em;
    border-radius: 8px;
}

.destit {
    text-align: center;
    font-family: 'outfit';
    color:hsl(218, 44%, 22%) ;
    font-weight: 700;
    font-size: 15px;
}

.descon {
    font-family: 'outfit';
    color:hsl(220, 15%, 55%) ;
    font-weight: 400;
    font-size: 15px;
}